/*
@File: Texap Template Global Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below >>>>>

****************************************************/

/* All Pages and Components CSS File Imported here */
@import url(../css/pages-and-components-css/navbar.css);
@import url(../css/pages-and-components-css/home-one.css);
@import url(../css/pages-and-components-css/home-two.css);
@import url(../css/pages-and-components-css/home-three.css);
@import url(../css/pages-and-components-css/home-four.css);
@import url(../css/pages-and-components-css/home-five.css);
@import url(../css/pages-and-components-css/home-six.css);
@import url(../css/pages-and-components-css/team.css);
@import url(../css/pages-and-components-css/privacy-policy.css);
@import url(../css/pages-and-components-css/terms-conditions.css);
@import url(../css/pages-and-components-css/gallery.css);
@import url(../css/pages-and-components-css/convert.css);
@import url(../css/pages-and-components-css/profile.css);
@import url(../css/pages-and-components-css/profile-authentication.css);
@import url(../css/pages-and-components-css/coming-soon.css);
@import url(../css/pages-and-components-css/error.css);
@import url(../css/pages-and-components-css/faq.css);
@import url(../css/pages-and-components-css/products.css);
@import url(../css/pages-and-components-css/products-details.css);
@import url(../css/pages-and-components-css/cart.css);
@import url(../css/pages-and-components-css/checkout.css);
@import url(../css/pages-and-components-css/blog-details.css);
@import url(../css/pages-and-components-css/contact.css);
@import url(../css/pages-and-components-css/footer.css);

/* Default CSS */

/* Google Font Family url */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Global Variables */
:root {
    --fontSize: 14px;
    --transition: .5s;
    --mainColor: #ED2775;
    --whiteColor: #ffffff;
    --blackColor: #262A37;
    --gradientColor: linear-gradient(44.44deg, #ED2775 7.79%, #FF7448 94.18%);
    --paragraphColor: #716c80;
    --fontFamily: 'Inter', sans-serif;
    scroll-behavior: inherit;
}

body {
    margin: 0;
    padding: 0;
    color: var(--blackColor);
    font: {
        size: var(--fontSize);
        family: var(--fontFamily);
    };
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: var(--blackColor);
    font-weight: 700;
}
a {
    transition: var(--transition);
    color: var(--blackColor);
    text-decoration: none;
    outline: 0 !important;

    &:hover {
        color: var(--mainColor);
        text-decoration: none;
    }
}
:focus {
    outline: 0 !important;
}
.d-table {
    width: 100%;
    height: 100%;

    &-cell {
        vertical-align: middle;
    }
}
img {
    max-width: 100%;
    height: auto;
}
p {
    color: var(--paragraphColor);
    font-size: var(--fontSize);
    margin-bottom: 15px;
    line-height: 1.8;

    &:last-child {
        margin-bottom: 0;
    }
}
.ptb-100 {
    padding: {
        top: 100px;
        bottom: 100px;
    };
}
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
.ptb-75 {
    padding: {
        top: 75px;
        bottom: 75px;
    };
}
.pt-75 {
    padding-top: 75px;
}
.pb-75 {
    padding-bottom: 75px;
}
.bg-F7F7FF {
    background-color: #F7F7FF;
}
.bg-F4F8FC {
    background-color: #F4F8FC;
}
.bg-f9f9f9 {
    background-color: #f9f9f9;
}

/* default-btn */
.default-btn {
    z-index: 1;
    border: none;
    position: relative;
    padding: 12px 35px;
    border-radius: 30px;
    display: inline-block;
    color: var(--whiteColor);
    transition: var(--transition);
    box-shadow: 0px 12px 35px rgba(237, 39, 117, 0.25);
    font: {
        size: var(--fontSize);
        weight: 600;
    };
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        transition: var(--transition);
        top: 0;
        bottom: 0;
        z-index: -1;
        border-radius: 30px;
        background: var(--gradientColor);
    }
    &:hover {
        background-color: var(--mainColor);
        color: var(--whiteColor);

        &::before {
            opacity: 0;
            visibility: hidden;
        }
    }
}

/* section-title */
.section-title {
    text-align: center;
    max-width: 660px;
    margin: {
        left: auto;
        right: auto;
        bottom: 55px;
    };
    .sub-title {
        display: block;
        margin-bottom: 10px;
        background: var(--gradientColor);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 0.1em;
        font-weight: 600;
    }
    h2 {
        line-height: 1.4;
        margin-bottom: 0;
        font-size: 36px;
    }
    p {
        font-size: 16px;
        margin-top: 10px;
    }
    &.color-white {
        .sub-title {
            color: var(--whiteColor);
        }
        h2 {
            color: var(--whiteColor);
        }
    }
}

/* form-control */
.form-control {
    background-color: #f5f5f5 !important;
    box-shadow: unset !important;
    transition: var(--transition);
    font-size: var(--fontSize);
    color: var(--blackColor);
    border: none !important;
    padding-left: 15px;
    border-radius: 0;
    height: 50px;

    &::placeholder {
        color: var(--paragraphColor);
        transition: var(--transition);
    }
    &:focus {
        &::placeholder {
            color: transparent;
        }
    }
}
textarea.form-control {
    padding-top: 15px;
    height: auto;
}

/* shape-css */
.shape1 {
    bottom: 50px;
    z-index: -1;
    left: -50px;
    position: absolute;
    animation: movebounce 5s linear infinite;
}
.shape2 {
    bottom: 18%;
    z-index: -1;
    right: -70px;
    position: absolute;
    animation: movebounce 5s linear infinite;
}
.bg-shape1 {
    left: 0;
    right: 0;
    top: 50%;
    z-index: -1;
    position: absolute;
    transform: translateY(-50%);
}
.shape3 {
    right: 40px;
    bottom: 50px;
    z-index: -1;
    position: absolute;
    animation: movebounce 5s linear infinite;
}
.shape4 {
    top: 90px;
    left: 70px;
    z-index: -1;
    position: absolute;
    animation: movebounce 5s linear infinite;
}
.shape5 {
    left: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
}
.shape6 {
    position: absolute;
    z-index: -1;
    right: 10%;
    bottom: 8%;

    img {
        animation: moveleftbounce 5s linear infinite;
    }
}
.shape7 {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 4%;

    img {
        animation: opacitychange 4s linear 1s infinite;
    }
}
.shape8 {
    position: absolute;
    z-index: -1;
    bottom: 28%;
    left: 30%;

    img {
        animation: {
            name: rotateme;
            duration: 20s;
            iteration-count: infinite;
            timing-function: linear;
        };
    }
}
.shape9 {
    position: absolute;
    z-index: -1;
    bottom: 5px;
    left: 5px;

    img {
        animation: opacitychange 4s linear 1s infinite;
    }
}
.shape10 {
    position: absolute;
    bottom: 40px;
    left: -40px;
    z-index: -1;
}
.shape11 {
    position: absolute;
    right: -30px;
    z-index: -1;
    top: 80px;
}
.shape12 {
    position: absolute;
    z-index: -1;
    bottom: 12%;
    left: 30%;

    img {
        animation: moveleftbounce 5s linear infinite;
    }
}
.shape13 {
    position: absolute;
    z-index: -1;
    right: 18%;
    top: 18%;

    img {
        animation: {
            name: rotateme;
            duration: 20s;
            iteration-count: infinite;
            timing-function: linear;
        };
    }
}
.lines {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    margin: auto;
    position: absolute;

    .line {
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        overflow: hidden;
        position: absolute;
        background: rgba(255, 255, 255, 0.1);

        &::after {
            left: 0;
            top: -50%;
            width: 100%;
            content: "";
            height: 15vh;
            display: block;
            position: absolute;
            animation: run 7s 0s infinite;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--whiteColor) 75%, var(--whiteColor) 100%);
        }
        &:nth-child(1) {
            margin-left: -35%;

            &::after {
                animation-delay: 2s;
            }
        }
        &:nth-child(3) {
            margin-left: -17.5%;

            &::after {
                animation-delay: 2.5s;
            }
        }
        &:nth-child(4) {
            margin-left: 17.5%;

            &::after {
                animation-delay: 3s;
            }
        }
        &:nth-child(5) {
            margin-left: 35%;

            &::after {
                animation-delay: 3.5s;
            }
        }
    }
}
.shape14 {
    position: absolute;
    z-index: -1;
    right: 15%;
    top: 30%;

    img {
        animation: movebounce 5s linear infinite;
    }
}
.shape15 {
    position: absolute;
    bottom: 10px;
    z-index: -2;
    right: 50%;

    img {
        animation: moveleftbounce 5s linear infinite;
    }
}
.divider {
    width: 100%;
    height: 100px;
    position: absolute;
    pointer-events: none;
    -webkit-mask-image: url("data:image/svg+xml;utf8,%3csvg viewBox='0 0 100 100' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3e%3cpath d='M0,0 C16.6666667,66 33.3333333,98 50,98 C66.6666667,98 83.3333333,66 100,0 L100,100 L0,100 L0,0 Z' fill='%23fff'/%3e%3c/svg%3e");
    mask-image: url("data:image/svg+xml;utf8,%3csvg viewBox='0 0 100 100' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3e%3cpath d='M0,0 C16.6666667,66 33.3333333,98 50,98 C66.6666667,98 83.3333333,66 100,0 L100,100 L0,100 L0,0 Z' fill='%23fff'/%3e%3c/svg%3e");
    background: var(--whiteColor);
    -webkit-mask-size: 100% 101%;
    mask-size: 100% 101%;
    z-index: -1;
    bottom: 0;
    left: 0;
}

/* page-title */
.page-title-area {
    z-index: 1;
    position: relative;
    background: linear-gradient(50.48deg, #ED2775 -2.06%, #FF7448 93.55%);
    padding: {
        bottom: 100px;
        top: 180px;
    };
    &::before {
        left: 0;
        right: 0;
        top: 82px;
        height: 1px;
        content: '';
        z-index: -1;
        opacity: .2;
        position: absolute;
        background-color: var(--whiteColor);
    }
    &.page-title-style-two {
        background: #eef5fc;

        &::before {
            background-color: var(--blackColor);
            opacity: .04;
        }
        .page-title-content {
            h2 {
                color: var(--blackColor);
            }
            ul {
                li {
                    color: var(--blackColor);

                    a {
                        color: var(--mainColor);

                        &:hover {
                            color: var(--blackColor);
                        }
                    }
                    &::before {
                        background-color: var(--blackColor);
                        opacity: .3;
                    }
                }
            }
        }
    }
    &.bg-color {
        padding-bottom: 105px;
        background: linear-gradient(76.8deg, #2BA6AC 0%, #36CE83 53.03%, #42E695 100%);

        &::before {
            display: none;
        }
        .divider {
            display: none;
        }
    }
}
.page-title-content {
    text-align: center;

    h2 {
        color: var(--whiteColor);
        margin-bottom: 0;
        font-size: 40px;
    }
    ul {
        padding-left: 0;
        list-style-type: none;
        margin: {
            bottom: 0;
            top: 15px;
        };
        li {
            color: var(--whiteColor);
            display: inline-block;
            position: relative;
            font-size: 16px;
            opacity: .9;
            margin: {
                left: 15px;
                right: 15px;
            };
            &:last-child {
                margin-right: 0;

                &::before {
                    display: none;
                }
            }
            &:first-child {
                margin-left: 0;
            }
            a {
                color: var(--whiteColor);
            }
            &::before {
                margin-top: 1px;
                top: 50%;
                transform: translateY(-50%);
                right: -18px;
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                background-color: var(--whiteColor);
                border-radius: 50%;
            }
        }
    }
}

/* pagination */
.pagination-area {
    margin-top: 20px;
    padding-top: 30px;
    border-top: 1px solid #eeeeee;

    .nav-links {
        display: flex;
        align-items: center;
    }

    .page-numbers {
        width: 45px;
        height: 45px;
        border: none;
        display: block;
        line-height: 43px;
        position: relative;
        text-align: center;
        border-radius: 50%;
        color: var(--paragraphColor);
        transition: var(--transition);
        background: linear-gradient(180deg, #ffffff 0%, #eaeef3 100%);
        box-shadow: 0 5px 15px 0 rgba(107, 124, 147, .15), 0 2px 4px 0 rgba(107, 124, 147, .20), inset 0 -2px 0 0 #c2cfde;
        font: {
            size: 15px;
            weight: 700;
        };
        margin: {
            left: 5px;
            right: 5px;
        };
        &.next {
            margin-left: auto;
        }
        &:hover {
            color: var(--mainColor);
        }
        &.current {
            background: var(--whiteColor);
            color: var(--mainColor);
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

/* keyframes-css */
@keyframes ripple {
    0% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.75);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
@keyframes movebounce {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(15px); 
    }
    100% {
        transform: translateY(0); 
    } 
}
@keyframes moveleftbounce {
    0% {
        transform: translateX(0px); 
    }
    50% {
        transform: translateX(15px); 
    }
    100% {
        transform: translateX(0px); 
    } 
}
@keyframes rotateme {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes opacitychange {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes run {
    0% {
        top: -50%;
    }
    100% {
        top: 110%;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    body {
        font-size: 13px;
    }
    p {
        font-size: 13px;
    }
    .ptb-100 {
        padding: {
            top: 60px;
            bottom: 60px;
        };
    }
    .pt-100 {
        padding-top: 60px;
    }
    .pb-100 {
        padding-bottom: 60px;
    }
    .ptb-75 {
        padding: {
            top: 35px;
            bottom: 35px;
        };
    }
    .pt-75 {
        padding-top: 35px;
    }
    .pb-75 {
        padding-bottom: 35px;
    }

    .default-btn {
        padding: 11px 30px;
        font-size: 12.5px;
    }

    .shape1, .shape2, .bg-shape1, .shape6, .shape8, .shape12, .shape13, .shape10, .shape11 {
        display: none;
    }
    .shape7 {
        left: 0;
        width: 80px;
    }

    .section-title {
        margin-bottom: 40px;
        max-width: 100%;

        .sub-title {
            font-size: 12px;
        }
        h2 {
            font-size: 20px;
        }
        p {
            font-size: 13px;
        }
    }

    .page-title-area {
        padding: {
            top: 140px;
            bottom: 70px;
        };
        &::before {
            display: none;
        }
        .banner-shape1 {
            width: 80px;
        }
        &.bg-color {
            padding-bottom: 75px;
        }
    }
    .page-title-content {
        h2 {
            font-size: 22px;
        }
        ul {
            li {
                font-size: 13px;
            }
        }
    }
    .divider {
        height: 50px;
    }

    .form-control {
        font-size: 13px;
        height: 45px;
    }

    .pagination-area {
        margin-top: 0;
        padding-top: 20px;

        .page-numbers {
            width: 40px;
            height: 40px;
            font-size: 14px;
            line-height: 40px;
        }
    }
    .left-sidebar {
        margin-bottom: 30px;
    }
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .container-fluid {
        max-width: 540px;
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .ptb-100 {
        padding: {
            top: 80px;
            bottom: 80px;
        };
    }
    .pt-100 {
        padding-top: 80px;
    }
    .pb-100 {
        padding-bottom: 80px;
    }
    .ptb-75 {
        padding: {
            top: 55px;
            bottom: 55px;
        };
    }
    .pt-75 {
        padding-top: 55px;
    }
    .pb-75 {
        padding-bottom: 55px;
    }

    .shape1, .shape2, .shape6 {
        display: none;
    }
    .shape10 {
        left: -20px;
    }
    .shape11 {
        right: -20px;
    }

    .default-btn {
        font-size: 13px;
    }

    .section-title {
        max-width: 100%;
        margin-bottom: 50px;

        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 30px;
        }
        p {
            font-size: 14px;
        }
    }

    .page-title-area {
        padding: {
            top: 150px;
            bottom: 80px;
        };
        &::before {
            display: none;
        }
        .banner-shape1 {
            width: 100px;
        }
    }
    .page-title-content {
        h2 {
            font-size: 30px;
        }
        ul {
            margin-top: 10px;

            li {
                font-size: 14px;
            }
        }
    }
    .divider {
        height: 50px;
    }

    .pagination-area {
        margin-top: 10px;
        padding-top: 20px;
    }
    
    .left-sidebar {
        margin-bottom: 30px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .shape6 {
        display: none;
    }
    .shape10 {
        left: -15px;
    }
    .shape11 {
        right: -15px;
    }
    .shape12 {
        bottom: 12%;
        left: 10%;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
 
}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {
 
}