.contact-info-inner {
  background: #374B63;
  padding: 100px 100px 75px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.contact-info-inner h2 {
  color: var(--whiteColor);
  line-height: 1.4;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 400;
}

.contact-info-inner .single-contact-info-box {
  padding: 30px;
  margin-bottom: 25px;
  background-color: var(--whiteColor);
}

.contact-info-inner .single-contact-info-box .icon {
  width: 80px;
  height: 80px;
  font-size: 35px;
  position: relative;
  border-radius: 50%;
  color: var(--whiteColor);
  background: linear-gradient(44.44deg, #ED2775 7.79%, #FF7448 94.18%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.contact-info-inner .single-contact-info-box .icon i {
  left: 0;
  right: 0;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact-info-inner .single-contact-info-box .icon.bg1 {
  background: linear-gradient(45.24deg, #9F5FF1 5.99%, #FF54B0 91.87%);
}

.contact-info-inner .single-contact-info-box .icon.bg2 {
  background: linear-gradient(44.44deg, #3F75FF 7.79%, #4ADEFF 94.18%);
}

.contact-info-inner .single-contact-info-box h3 {
  line-height: 1.5;
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: 400;
}

.contact-info-inner .single-contact-info-box h3:last-child {
  margin-bottom: 0;
}

.contact-form {
  max-width: 950px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.contact-form .form-group {
  margin-bottom: 25px;
}

.contact-form .form-group .form-control {
  border: 1px solid #eeeeee !important;
}

.contact-form .form-group .form-control:focus {
  border-color: var(--mainColor) !important;
}

.contact-form .form-check {
  margin-top: 5px;
  padding-left: 0;
}

.contact-form .form-check .form-check-label {
  color: var(--paragraphColor);
}

.contact-form .form-check .form-check-label strong {
  font-weight: 600;
  color: var(--blackColor);
}

.contact-form .form-check .form-check-input {
  float: unset;
  margin-left: 0;
  margin-right: 5px;
}

.contact-form .form-check .form-check-input[type=checkbox] {
  border-radius: 0;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.contact-form .form-check .form-check-input[type=checkbox]:checked {
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}

.contact-form .help-block.with-errors {
  color: red;
  margin-bottom: 0;
  margin-top: 12px;
}

.contact-form #msgSubmit {
  margin: 0;
}

.contact-form #msgSubmit.text-danger {
  margin-top: 12px;
}

.contact-form #msgSubmit.text-success {
  margin-top: 12px;
}

.maps {
  margin-top: 100px;
}

.maps iframe {
  width: 100%;
  border: none;
  height: 500px;
  margin-bottom: -5px;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .contact-info-inner {
    padding: 60px 15px 35px;
  }
  .contact-info-inner h2 {
    max-width: 100%;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .contact-info-inner .single-contact-info-box {
    padding: 20px 15px;
  }
  .contact-info-inner .single-contact-info-box .icon {
    width: 70px;
    height: 70px;
    font-size: 30px;
  }
  .contact-info-inner .single-contact-info-box h3 {
    font-size: 16px;
  }
  .contact-form .form-group {
    margin-bottom: 20px;
  }
  .maps {
    margin-top: 60px;
  }
}

/* Min width 576px to Max width 767px */
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-info-inner {
    padding: 80px 30px 55px;
  }
  .contact-info-inner h2 {
    font-size: 30px;
  }
  .contact-info-inner .single-contact-info-box h3 {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .maps {
    margin-top: 80px;
  }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .contact-info-inner {
    padding: 100px 30px 75px;
  }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .contact-info-inner {
    padding: 100px 50px 75px;
  }
}

/* Min width 1550px */
/*# sourceMappingURL=contact.css.map */