/*================================================
How It Works Area CSS
=================================================*/

.how-it-works-content {
    padding-bottom: 40px;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    max-width: 97%;
}

.form-group .v2 {
    max-width: 100%;
}

.form-group .v3 {
    max-width: 97%;
}

.card-active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-style: solid;
    border-color: #79D156;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 15px 30px 15px 30px;
}

.card-dabaled {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: no-drop;
    color: #CCCCCC;
    border-style: solid;
    border-color: #CCCCCC;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 15px 30px 15px 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-style: solid;
    border-color: #CCCCCC;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 15px 30px 15px 30px;
}

.black {
    background: #333333 !important;
}

.white {
    color: white !important;
}

.border-line {
    justify-content: center;
    border-bottom: 1px inset var(--mainColor);
    max-width: 5%;
    height: 29px;
}

.how-it-works-content .number {
    width: 58px;
    height: 58px;
    line-height: 58px;
    border-radius: 50%;
    text-align: center;
    color: var(--whiteColor);
    background-color: #2e9afe;
    font-size: 20px;
    font-weight: 700;
}

.navbar-head {}

.border-nav {
    display: flex;
    align-items: stretch;
    flex-direction: column;;
}

.show-only-mobile {
    display: none !important;
}

.hidden-only-mobile {}

.border-content {
    padding-right: 60px !important;
}

.how-it-works-content .active {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    text-align: center;
    color: var(--whiteColor);
    background-color: #0e3d66 !important;
    font-size: 20px;
    font-weight: 700;
}

.how-it-works-content .box h3 {
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 3px;
}

.how-it-works-content .box span {
    font-size: 16px;
    color: var(--mainColor);
    display: block;
}

.how-it-works-content .content {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 50px;
    padding: 30px;
}

.how-it-works-content .content img {
    margin-top: 0px;
}

.how-it-works-content .content ul li {
    color: var(--paragraphColor);
    margin-bottom: 12px;
}

.how-it-works-content .content ul li a {
    color: var(--mainColor);
}

.how-it-works-content .content ul li a:hover {
    text-decoration: underline;
}

.how-it-works-content .content ul li:last-child {
    margin-bottom: 0;
}

.how-it-works-content:last-child {
    padding-bottom: 0;
}

.how-it-works-content:last-child .content {
    border-bottom: none;
    padding-bottom: 0;
    min-height: 648px !important;
}


/* Max width 767px */

@media only screen and (max-width: 767px) {
    .navigation-form{
        padding-right: 6% !important;
    }
    .how-it-works-content .content {
        border-bottom: 1px solid #eeeeee !important;
        padding-bottom: 50px !important;
        padding-top: 30px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .checkmark {
        top: -2px !important;
        left: -9px !important;
    }
    .row {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        /* padding-right: calc(var(--bs-gutter-x) * .5); */
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }
    .marvel-device.note8 {
        position: fixed;
        margin-left: -12%;
        width: 300px !important;
        height: 465px !important;
    }
    .area-marvel-iframe {
        width: 300px;
        height: 465px;
        overflow: hidden;
    }
    .marvel-iframe {
        width: 300px;
        height: 475px;
    }
    .marvel-device.note8.landscape {
        height: 180px !important;
        width: 280px !important;
        margin-left: -20%;
        margin-top: 100px;
        padding: 10px 45px !important;
    }
    .marvel-content-dd.landscape {
        height: 180px !important;
        width: 280px !important;
        background-repeat: no-repeat;
    }
    .area-marvel-iframe-landscape {
        width: 280px;
        height: 180px;
        overflow: hidden;
    }
    .marvel-iframe-landscape {
        width: 280px;
        height: 180px;
    }
    .marvel-content-dd {
        width: 300px;
        height: 465px;
        background-repeat: no-repeat;
    }

    .border-nav {
        display: none !important;
    }
    .show-only-mobile {
        display: block !important;
    }
    .hidden-only-mobile {
        display: none !important;
    }
    .border-content {
        border-right: 1px solid #d9d9d9;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .border-line {
        justify-content: center;
        border-bottom: 1px inset var(--mainColor);
        max-width: 5%;
        height: 17px;
    }
    .rfml {
        margin-left: -30px;
    }

    .v2 {
        max-width: 92% !important;
    }
    .border-line {
        justify-content: center;
        border-bottom: 1px inset var(--mainColor);
        max-width: 5%;
        height: 17px;
    }
    .rfml {
        margin-left: -30px;
    }
    .form-group {
        max-width: 100% !important;
    }
    .form-group .v2 {
        max-width: 92% !important;
    }
    .form-group .v3 {
        max-width: 97% !important;
    }
    .how-it-works-content {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
    }
    .how-it-works-content .number {
        left: -17px;
        width: 34px;
        height: 34px;
        font-size: 15px;
        line-height: 33px;
    }
    .how-it-works-content .box {
        margin-bottom: 15px;
    }
    .how-it-works-content .box h3 {
        font-size: 16px;
    }
    .how-it-works-content .box span {
        font-size: 13px;
    }
    .how-it-works-content .content {
        padding-bottom: 30px;
    }
    .how-it-works-content .content img {
        margin-top: 0;
    }
    .how-it-works-content .content ul {
    }
}


/* Min width 576px to Max width 767px */


/* Min width 768px to Max width 991px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .marvel-device.note8 {
        position: fixed;
        margin-left: -12%;
        width: 300px !important;
        height: 465px !important;
    }
    .area-marvel-iframe {
        width: 300px;
        height: 465px;
        overflow: hidden;
    }
    .marvel-iframe {
        width: 300px;
        height: 475px;
    }
    .marvel-device.note8.landscape {
        height: 240px !important;
        width: 440px !important;
        margin-left: -20%;
        margin-top: 100px;
        padding: 10px 45px !important;
    }
    .marvel-content-dd.landscape {
        height: 240px !important;
        width: 440px !important;
        background-repeat: no-repeat;
    }
    .area-marvel-iframe-landscape {
        width: 440px;
        height: 240px;
        overflow: hidden;
    }
    .marvel-iframe-landscape {
        width: 440px;
        height: 240px;
    }
    .marvel-content-dd {
        width: 300px;
        height: 465px;
        background-repeat: no-repeat;
    }
    .border-nav {
        display: none !important;
    }
    .show-only-mobile {
        display: block !important;
    }
    .hidden-only-mobile {
        display: none !important;
    }
    .border-content {
        border-right: 1px solid #d9d9d9;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .border-line {
        justify-content: center;
        border-bottom: 1px inset var(--mainColor);
        max-width: 5%;
        height: 30px;
    }
    .rfml {
        margin-left: -30px;
    }
    .form-group {
        max-width: 100%;
    }
    .form-group .v2 {
        max-width: 92% !important;
    }
    
    .form-group .v3 {
        max-width: 97% !important;
    }
    .how-it-works-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 640px;
    }
    .how-it-works-content .box h3 {
        font-size: 18px;
    }
    .how-it-works-content .box span {
        font-size: 14px;
    }
    .how-it-works-content .content {
        padding-bottom: 40px;
        margin-top: 15px;
    }
    .how-it-works-content .content p {
        font-size: 15px;
    }
}


/* Min width 992px to Max width 1199px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .fixed-preview {
        position: absolute !important;
    }
    .marvel-device.note8 {
        position: fixed;
        margin-left: -12%;
        width: 300px !important;
        height: 465px !important;
    }
    .area-marvel-iframe {
        width: 300px;
        height: 465px;
        overflow: hidden;
    }
    .marvel-iframe {
        width: 300px;
        height: 475px;
    }
    .marvel-device.note8.landscape {
        height: 180px !important;
        width: 280px !important;
        margin-left: -20%;
        margin-top: 100px;
        padding: 10px 45px !important;
    }
    .marvel-content-dd.landscape {
        height: 180px !important;
        width: 280px !important;
        background-repeat: no-repeat;
    }
    .area-marvel-iframe-landscape {
        width: 280px;
        height: 180px;
        overflow: hidden;
    }
    .marvel-iframe-landscape {
        width: 280px;
        height: 180px;
    }
    .marvel-content-dd {
        width: 300px;
        height: 465px;
        background-repeat: no-repeat;
    }
    .how-it-works-content {
        margin-left: auto;
        margin-right: auto;
    }
    .border-content {
        border-right: 1px solid #d9d9d9;
        padding-right: 60px !important;
        padding-left: 0px !important;
    }
    .border-nav {
        display: block !important;
    }
    .show-only-mobile {
        display: block !important;
    }
    
    .border-line {
        justify-content: center;
        border-bottom: 1px inset var(--mainColor);
        max-width: 5%;
        height: 17px;
    }
    .rfml {
        margin-left: -30px;
    }
    .form-group {
        max-width: 100%;
    }
    .form-group .v2 {
        max-width: 92% !important;
    }
    
    .form-group .v3 {
        max-width: 97% !important;
    }
}

.area-simulator {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1025px) and (max-width: 1600px) {
    .fixed-preview {
        position: absolute !important;
    }
    .marvel-device.note8 {
        position: fixed;
        margin-left: -12%;
        width: 250px !important;
        height: 400px !important;
    }
    .area-marvel-iframe {
        width: 250px;
        height: 400px;
        overflow: hidden;
    }
    .marvel-iframe {
        width: 250px;
        height: 400px;
    }
    .marvel-device.note8.landscape {
        height: 250px !important;
        width: 420px !important;
        margin-left: -20%;
        margin-top: 100px;
        padding: 10px 45px !important;
    }
    .marvel-content-dd.landscape {
        height: 250px !important;
        width: 420px !important;
        background-repeat: no-repeat;
    }
    .area-marvel-iframe-landscape {
        width: 420px;
        height: 250px;
        overflow: hidden;
    }
    .marvel-iframe-landscape {
        width: 430px;
        height: 260px;
    }
    .marvel-content-dd {
        width: 250px;
        height: 400px;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 1601px) {
    .marvel-device.note8 {
        position: fixed;
        margin-left: -12%;
        width: 300px !important;
        height: 500px !important;
    }
    .marvel-content-dd {
        width: 300px;
        height: 500px;
        background-repeat: no-repeat;
    }
    .area-marvel-iframe {
        width: 300px;
        height: 500px;
        overflow: hidden;
    }
    .marvel-iframe {
        width: 325px;
        height: 510px;
    }
    .marvel-device.note8.landscape {
        height: 300px !important;
        width: 500px !important;
        margin-left: -24%;
        margin-top: 100px;
        padding: 10px 45px !important;
    }
    .marvel-content-dd.landscape {
        height: 300px !important;
        width: 500px !important;
        background-repeat: no-repeat;
    }
    .area-marvel-iframe-landscape {
        height: 300px;
        width: 500px;
        overflow: hidden;
    }
    .marvel-iframe-landscape {
        height: 315px;
        width: 525px;
    }
}

.form-control-disabled {
    background-color: #dddddd ;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    font-size: var(--fontSize);
    color: var(--blackColor);
    border: none !important;
    padding-left: 15px;
    border-radius: 0;
    height: 50px;
    -webkit-appearance: auto !important;
    appearance: auto !important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #dddddd !important;
    opacity: 1;
}

.hege {
    -webkit-transform: rotate(90deg);
    /* to support Safari and Android browser */
    -ms-transform: rotate(90deg);
    /* to support IE 9 */
    transform: rotate(90deg);
}

.fixed-preview {
    position: fixed;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

    #inner-right {
        max-height: 160px;
        min-height: 40px;
        padding-right: 20px;
        max-width: 235px;
        margin-top: 20px;
        margin-bottom: 35px !important;
        overflow-y: auto;
    }

    #inner-right .p {
        text-align: left !important;
    }

    #inner-right-landscape .p {
        text-align: left !important;
    }

    #inner-right-landscape {
        max-height: 360px;
        min-height: 70px;
        max-width: 350px;
        margin-top: 20px;
        padding-right: 20px;
        margin-bottom: 35px !important;
        overflow-y: auto;
    }
      
      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 3px;
        left: 7px;
        border-radius: 3px;
        height: 20px;
        border: solid 2.5px#333333;
        width: 21px;
        background-color: #eee;
      }
      
      /* On mouse-over, add a grey background color */
      .container:hover input ~ .checkmark {
        background-color: #ccc;
      }
      
      /* When the checkbox is checked, add a blue background */
      .container input:checked ~ .checkmark {
        background-color: #2196F3;
      }
      
      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      /* Show the checkmark when checked */
      .container input:checked ~ .checkmark:after {
        display: block;
      }
      
      /* Style the checkmark/indicator */
      .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      /* width */

      
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #aaaa; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


  .bg-black{
    background-color: #333333 !important;
}

.row {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    /* padding-right: calc(var(--bs-gutter-x) * .5); */
    /* padding-left: calc(var(--bs-gutter-x) * .5); */
    margin-top: var(--bs-gutter-y);
}

.navigation-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}