/*================================================
Banner Wrapper Area CSS
=================================================*/
.banner-wrapper-area {
  z-index: 1;
  padding-top: 150px;
  position: relative;
  border-bottom: 1px solid #eeeeee;
}

.banner-wrapper-area .shape13 {
  right: 51%;
  top: 33%;
}

.banner-wrapper-content {
  padding-right: 15px;
}

.banner-wrapper-content .sub-title {
  display: block;
  margin-bottom: 12px;
  background: var(--gradientColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-left: 2px solid var(--mainColor);
  padding-left: 10px;
  font-weight: 600;
}

.banner-wrapper-content h1 {
  font-size: 48px;
  line-height: 1.4;
  margin-bottom: 18px;
}

.banner-wrapper-content p {
  font-size: 16px;
}

.banner-wrapper-content .default-btn {
  margin-top: 10px;
}

.banner-wrapper-image {
  text-align: end;
  margin-left: 15px;
  position: relative;
}

.banner-wrapper-image .banner-img:nth-child(2) {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
}

/*================================================
Partner Area CSS
=================================================*/
.partner-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 17px;
  font-weight: 500;
}

/*================================================
Overview Area CSS
=================================================*/
.overview-area .container-fluid {
  padding-left: 0;
  padding-right: 0;
}


.overview-content {
  margin-left: auto;
  max-width: 650px;
  padding-right: 25px;
  padding-bottom: 100px;
}

.image-features {
  margin-top: 100px;
  margin-left: 150px;
}

.overview-content .sub-title {
  display: block;
  margin-bottom: 10px;
  background: var(--gradientColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.overview-content h2 {
  font-size: 36px;
  line-height: 1.4;
  margin-bottom: 15px;
}

.overview-content .features-list {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 35px;
}

.overview-content .features-list li {
  position: relative;
  margin-bottom: 30px;
  padding-left: 50px;
}

.overview-content .features-list li .icon {
  color: var(--mainColor);
  position: absolute;
  font-size: 35px;
  line-height: 1;
  left: 0;
  top: 0;
}

.overview-content .features-list li h3 {
  font-size: 17px;
  margin-bottom: 10px;
}

.overview-content .features-list li:last-child {
  margin-bottom: 0;
}

.overview-content .btn-box {
  margin-top: 35px;
}

.overview-content .btn-box .default-btn {
  margin-right: 15px;
}

.overview-content .btn-box .link-btn {
  display: inline-block;
  font-weight: 600;
  position: relative;
}

.overview-content .btn-box .link-btn::before {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  width: 100%;
  bottom: 0;
  height: 1px;
  background-color: var(--blackColor);
}

.overview-content .btn-box .link-btn:hover {
  color: var(--mainColor);
}

.overview-content .btn-box .link-btn:hover::before {
  width: 0;
}

.overview-image {
  text-align: center;
  margin-left: 25px;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overview-image.bg1 {
  background-image: url(/images/overview1.jpg);
}

.overview-image.bg2 {
  -webkit-filter: drop-shadow(0px 25px 75px rgba(25, 34, 64, 0.1));
          filter: drop-shadow(0px 25px 75px rgba(25, 34, 64, 0.1));
  background-image: url(/images/overview2.jpg);
  border-radius: 10px 0 0 10px;
}

.overview-image img {
  display: none;
}

/*================================================
Features Area CSS
=================================================*/
.features-item {
  margin-bottom: 25px;
}

.features-item .icon {
  width: 70px;
  height: 70px;
  font-size: 35px;
  position: relative;
  text-align: center;
  border-radius: 50%;
  color: var(--whiteColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background: linear-gradient(45.24deg, #9F5FF1 5.99%, #FF54B0 91.87%);
  margin-bottom: 20px;
}

.features-item .icon i {
  left: 0;
  right: 0;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.features-item .icon.bg2 {
  background: linear-gradient(44.44deg, #ED2775 7.79%, #FF7448 94.18%);
}

.features-item .icon.bg3 {
  background: linear-gradient(44.44deg, #3F75FF 7.79%, #4ADEFF 94.18%);
}

.features-item .icon.bg4 {
  background: linear-gradient(44.44deg, #FF4B3F 7.79%, #FFAC30 94.18%);
}

.features-item h3 {
  font-size: 20px;
  margin-bottom: 12px;
}

.features-item.with-border {
  padding: 40px;
  border: 1px solid #eeeeee;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background-color: var(--whiteColor);
}

.features-item.with-border:hover {
  -webkit-box-shadow: 0px 25px 75px rgba(25, 34, 64, 0.15);
          box-shadow: 0px 25px 75px rgba(25, 34, 64, 0.15);
}

.features-boxes-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
  margin-right: calc(var(--bs-gutter-x)/ -2);
  margin-left: calc(var(--bs-gutter-x)/ -2);
}

.features-boxes-list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 20%;
  padding-left: calc(var(--bs-gutter-x)/ 2);
  padding-right: calc(var(--bs-gutter-x)/ 2);
}

.features-boxes-list li .features-list-box {
  margin-bottom: 25px;
  text-align: center;
}

.features-boxes-list li .features-list-box .icon {
  width: 100px;
  height: 100px;
  font-size: 45px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  color: var(--whiteColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background: linear-gradient(45.24deg, #9F5FF1 5.99%, #FF54B0 91.87%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.features-boxes-list li .features-list-box .icon i {
  left: 0;
  right: 0;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.features-boxes-list li .features-list-box .icon.bg2 {
  background: linear-gradient(44.44deg, #ED2775 7.79%, #FF7448 94.18%);
}

.features-boxes-list li .features-list-box .icon.bg3 {
  background: linear-gradient(44.44deg, #3F75FF 7.79%, #4ADEFF 94.18%);
}

.features-boxes-list li .features-list-box .icon.bg4 {
  background: linear-gradient(44.44deg, #FF4B3F 7.79%, #FFAC30 94.18%);
}

.features-boxes-list li .features-list-box .icon::before {
  position: absolute;
  height: 31px;
  width: 65px;
  content: '';
  right: 0;
  left: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/images/shape/shape12.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.features-boxes-list li .features-list-box .icon::after {
  -webkit-transform: scaleX(-1) scaleY(-1);
          transform: scaleX(-1) scaleY(-1);
  position: absolute;
  height: 31px;
  width: 65px;
  content: '';
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/images/shape/shape12.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.features-boxes-list li .features-list-box h3 {
  font-size: 20px;
  margin-bottom: 0;
}

/*================================================
App Download Area CSS
=================================================*/
.app-download-inner.bg-gray {
  background-color: #F8F8F8;
  padding-right: 50px;
}

.app-download-inner.bg-gray::before {
  display: none;
}

.app-download-inner.bg-gray .app-download-content .sub-title {
  display: block;
  background: var(--gradientColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1em;
}

.app-download-inner.bg-gray .app-download-content h2 {
  color: var(--blackColor);
}

.app-download-inner.bg-gray .app-download-content p {
  color: var(--paragraphColor);
}

.app-download-inner.bg-gray .app-download-image {
  padding-top: 50px;
}

/*================================================
Screenshots Area CSS
=================================================*/
.screenshots-area.bg-black-color {
  background-color: var(--blackColor);
}

/*================================================
Pricing Area CSS
=================================================*/
.pricing-area.bg-black-color {
  background-color: var(--blackColor);
}

.pricing-area.bg-black-color .shape8 {
  bottom: 78%;
  left: 76%;
}

/*================================================
Feedback Area CSS
=================================================*/
.feedback-area.bg-F4F8FC .single-feedback-box {
  background-color: var(--whiteColor);
}

/*================================================
Blog Area CSS
=================================================*/
.single-blog-post {
  margin-bottom: 25px;
}

.single-blog-post .image {
  overflow: hidden;
  position: relative;
}

.single-blog-post .image img {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.single-blog-post .image .tag {
  background: linear-gradient(279.99deg, #9F5FF1 -1.19%, #FF54B0 50.99%, #FF9F5A 100%);
  color: var(--whiteColor);
  position: absolute;
  border-radius: 2px;
  padding: 4px 15px;
  left: 15px;
  top: 15px;
  font-size: 13px;
  font-weight: 500;
}

.single-blog-post .content {
  margin-top: 20px;
}

.single-blog-post .content ul {
  list-style-type: none;
  margin-bottom: 12px;
  padding-left: 0;
}

.single-blog-post .content ul li {
  color: var(--paragraphColor);
  display: inline-block;
  padding-left: 19px;
  margin-right: 15px;
  position: relative;
}

.single-blog-post .content ul li i {
  left: 0;
  top: 1px;
  position: absolute;
  color: var(--mainColor);
}

.single-blog-post .content ul li a {
  color: var(--paragraphColor);
}

.single-blog-post .content ul li a:hover {
  color: var(--mainColor);
}

.single-blog-post .content h3 {
  line-height: 1.5;
  margin-bottom: 0;
  font-size: 20px;
}

.single-blog-post .content h3 a {
  -webkit-transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  position: relative;
  padding: 0.1% 0px;
  display: inline;
  color: inherit;
  background-image: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor));
  background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
  background-size: 0px 2px;
  background-position: 0px 95%;
  background-repeat: no-repeat;
}

.single-blog-post .content h3 a:hover {
  background-size: 100% 2px;
}

.single-blog-post:hover .image img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/* Max width 420px */
@media only screen and (max-width: 420px) {
  .overview-content .features-list li {
    width: 100% !important;
  }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .banner-wrapper-area {
    padding-top: 140px;
  }
  .banner-wrapper-content {
    padding-right: 0;
    text-align: center;
  }
  .banner-wrapper-content .sub-title {
    display: inline-block;
    margin-bottom: 14px;
  }
  .banner-wrapper-content h1 {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .banner-wrapper-content .default-btn {
    margin-top: 5px;
  }
  .banner-wrapper-content p {
    font-size: 13px;
  }
  .banner-wrapper-image {
    text-align: center;
    margin-left: 0;
    margin-top: 20px;
  }
  .banner-wrapper-image .banner-img:nth-child(2) {
    display: none;
  }
  .shape13, .shape14, .shape15 {
    display: none;
  }
  .partner-title {
    margin-bottom: 30px;
    font-size: 13px;
  }
  .overview-area .container-fluid {
    padding-left: var(--bs-gutter-x, 0.75rem);
    padding-right: var(--bs-gutter-x, 0.75rem);
  }
  .overview-content {
    max-width: 100%;
    margin-left: 12px;
    padding-top: 20px;
    padding-right: 12px;
    padding-bottom: 20px;
  }
  .overview-content h2 {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .overview-content .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 25px;
    padding: 0 10px;
  }
  .overview-content .features-list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 25px;
    border: 1px solid #eee;
  }
  .overview-content .features-list li h3 {
    font-size: 15px;
  }
  .overview-content .features-list li .icon {
    position: relative;
    margin-bottom: 13px;
  }
  .overview-content .btn-box {
    margin-top: 25px;
    text-align: center;
  }
  .overview-image {
    height: auto;
    background-image: unset !important;
    margin-top: 30px;
    margin-left: 0;
  }
  .overview-image img {
    display: inline-block;
  }
  .features-boxes-list li {
    width: 50%;
  }
  .features-boxes-list li .features-list-box .icon {
    width: 60px;
    height: 60px;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .features-boxes-list li .features-list-box h3 {
    font-size: 15px;
  }
  .features-item {
    border: 1px solid #eee;
    padding: 20px 14px;
  }
  .features-item h3 {
    font-size: 16px;
  }
  .features-item .icon {
    width: 60px;
    height: 60px;
    font-size: 30px;
  }
  .features-item.with-border {
    padding: 20px 14px;
  }
  .app-download-inner.bg-gray {
    padding-right: 15px;
    padding-bottom: 0;
  }
  .app-download-inner.bg-gray .app-download-image {
    padding-top: 0;
  }
  .feedback-area.bg-F4F8FC .owl-item.active.center .single-feedback-box {
    background-color: var(--whiteColor);
  }
  .single-blog-post .content ul {
    margin-bottom: 10px;
  }
  .single-blog-post .content ul li i {
    top: 0;
  }
  .single-blog-post .content h3 {
    font-size: 16px;
  }
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .banner-wrapper-image {
    text-align: end;
  }
  .banner-wrapper-image .banner-img:nth-child(1) {
    max-width: 320px;
    margin-left: auto;
  }
  .banner-wrapper-image .banner-img:nth-child(2) {
    display: inline-block;
    max-width: 320px;
  }
  .features-boxes-list li {
    width: 33.333333%;
  }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner-wrapper-content {
    padding-right: 0;
    text-align: center;
  }
  .banner-wrapper-content h1 {
    font-size: 32px;
    margin-bottom: 12px;
  }
  .banner-wrapper-content p {
    max-width: 540px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .banner-wrapper-content .sub-title {
    font-size: 13px;
    margin-bottom: 15px;
    display: inline-block;
  }
  .banner-wrapper-content .default-btn {
    margin-top: 5px;
  }
  .banner-wrapper-image {
    margin-left: 0;
    margin-top: 20px;
  }
  .shape13, .shape14 {
    display: none;
  }
  .overview-area .container-fluid {
    max-width: 720px;
  }
  .overview-content {
    max-width: 100%;
    margin-left: 20px;
    padding-top: 60px;
    padding-right: 20px;
    padding-bottom: 60px;
  }
  .overview-content h2 {
    font-size: 28px;
    margin-bottom: 12px;
  }
  .overview-content .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: calc(var(--bs-gutter-x)/ -2);
    margin-right: calc(var(--bs-gutter-x)/ -2);
  }
  .overview-content .features-list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
    padding-left: calc(var(--bs-gutter-x)/ 2);
    padding-right: calc(var(--bs-gutter-x)/ 2);
  }
  .overview-content .features-list li .icon {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
  }
  .overview-content .features-list li h3 {
    margin-bottom: 12px;
  }
  .overview-content .features-list li p {
    max-width: 100%;
  }
  .overview-content .btn-box {
    margin-top: 30px;
  }
  .overview-image {
    height: auto;
    background-image: unset !important;
    margin-top: 30px;
    margin-left: 0;
  }
  .overview-image img {
    display: inline-block;
  }
  .partner-title {
    font-size: 15px;
  }
  .features-item h3 {
    font-size: 18px;
  }
  .features-item.with-border {
    padding: 25px 20px;
  }
  .features-boxes-list li {
    width: 33.333333%;
  }
  .features-boxes-list li .features-list-box .icon {
    width: 80px;
    height: 80px;
    font-size: 40px;
    margin-bottom: 20px;
  }
  .features-boxes-list li .features-list-box h3 {
    font-size: 18px;
  }
  .app-download-inner.bg-gray {
    padding-right: 30px;
    padding-bottom: 0;
  }
  .app-download-inner.bg-gray .app-download-image {
    padding-top: 10px;
  }
  .single-blog-post .content h3 {
    font-size: 17px;
  }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .banner-wrapper-content {
    padding-right: 0;
  }
  .banner-wrapper-content h1 {
    font-size: 39px;
    margin-bottom: 15px;
  }
  .banner-wrapper-content p {
    font-size: 14px;
  }
  .banner-wrapper-content .default-btn {
    margin-top: 5px;
  }
  .banner-wrapper-image {
    margin-left: 0;
  }
  .banner-wrapper-image .banner-img:nth-child(1) {
    max-width: 330px;
    margin-left: auto;
  }
  .banner-wrapper-image .banner-img:nth-child(2) {
    max-width: 330px;
  }
  .overview-area {
    border-top: 1px solid #eeeeee;
    padding-top: 85px;
  }
  .overview-area .container-fluid {
    max-width: 960px;
    padding-left: var(--bs-gutter-x, 0.75rem);
    padding-right: var(--bs-gutter-x, 0.75rem);
  }
  .overview-content {
    max-width: 100%;
    margin-left: 20px;
    padding-top: 60px;
    padding-right: 20px;
    padding-bottom: 60px;
  }
  .overview-image {
    height: auto;
    background-image: unset !important;
    margin-left: 0;
    margin-top: 30px;
  }
  .overview-image img {
    display: inline-block;
  }
  .features-item.with-border {
    padding: 30px 19px;
  }
  .features-boxes-list li .features-list-box h3 {
    font-size: 18px;
  }
  .app-download-inner.bg-gray {
    padding-right: 15px;
  }
  .app-download-inner.bg-gray .app-download-content h2 {
    font-size: 33px;
  }
  .app-download-inner.bg-gray .app-download-image {
    padding-top: 0;
  }
  .single-blog-post .content h3 {
    font-size: 19px;
  }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .banner-wrapper-area {
    padding-top: 130px;
  }
  .banner-wrapper-content {
    padding-right: 0;
  }
  .banner-wrapper-content h1 {
    font-size: 45px;
  }
  .banner-wrapper-content p {
    font-size: 15px;
  }
  .banner-wrapper-image {
    margin-left: 0;
  }
  .overview-content {
    max-width: 560px;
    padding-top: 80px;
    padding-right: 15px;
    padding-bottom: 80px;
  }
  .overview-image {
    margin-left: 15px;
  }
}

/* Min width 1550px */
/*# sourceMappingURL=home-three.css.map */