.navbar-area {
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    position: absolute;
    background-color: transparent;
    
    &.is-sticky {
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        position: fixed;
        background-color: var(--blackColor) !important;
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
        animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
        -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
    .bg-light {
        background-color: transparent !important;
    }

    &.navbar-style-two {
        .texap-nav {
            .navbar {
                .navbar-nav {
                    .nav-item {
                        a {
                            color: var(--blackColor);
                            
                            &:hover, &.active {
                                color: var(--mainColor);
                            }
                        }
                        &:hover, &.active {
                            a {
                                color: var(--mainColor);
                            }
                        }
                        .dropdown-menu {
                            li {
                                a {
                                    color: var(--blackColor);
                                    
                                    &:hover, &:focus {
                                        color: var(--mainColor);
                                    }
                                    &.active {
                                        color: var(--mainColor);
                                    }
                                }
                                .dropdown-menu {
                                    li {
                                        a {
                                            color: var(--blackColor);
                                            
                                            &:hover, &:focus {
                                                color: var(--mainColor);
                                            }
                                            &.active {
                                                color: var(--mainColor);
                                            }
                                        }
                                        .dropdown-menu {
                                            li {
                                                a {
                                                    color: var(--blackColor);
                                                    
                                                    &:hover, &:focus {
                                                        color: var(--mainColor);
                                                    }
                                                    &.active {
                                                        color: var(--mainColor);
                                                    }
                                                }
                                                .dropdown-menu {
                                                    li {
                                                        a {
                                                            color: var(--blackColor);
                                                            
                                                            &:hover, &:focus {
                                                                color: var(--mainColor);
                                                            }
                                                            &.active {
                                                                color: var(--mainColor);
                                                            }
                                                        }
                                                        &.active {
                                                            a {
                                                                color: var(--mainColor);
                                                            }
                                                        }
                                                    }
                                                }
                                                &.active {
                                                    a {
                                                        color: var(--mainColor);
                                                    }
                                                }
                                            }
                                        }
                                        &.active {
                                            a {
                                                color: var(--mainColor);
                                            }
                                        }
                                    }
                                }
                                &.active {
                                    a {
                                        color: var(--mainColor);
                                    }
                                }
                            }
                        }
                        &.megamenu {
                            .dropdown-menu {
                                .megamenu-submenu {
                                    li {
                                        a {
                                            color: var(--blackColor);
                                            
                                            &:hover, &.active {
                                                color: var(--mainColor);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.is-sticky {
            background-color: var(--whiteColor) !important;
        }
    }
    &.navbar-style-three {
        border-bottom: 1px solid rgba(255, 255, 255, .2);

        &.is-sticky {
            border-bottom: none;
        }
        .texap-nav {
            .navbar {
                .navbar-nav {
                    margin: {
                        right: 30px;
                        left: auto;
                    };
                }
            }
        }
    }
    &.navbar-style-four {
        position: relative;
        
        .container-fluid {
            padding: {
                left: 30px;
                right: 30px;
            };
        }
        .texap-nav {
            .navbar {
                .navbar-nav {
                    margin: {
                        left: auto;
                        right: 30px;
                    };
                    .nav-item {
                        a {
                            color: var(--blackColor);
                            
                            &:hover, &.active {
                                color: var(--mainColor);
                            }
                        }
                        &:hover, &.active {
                            a {
                                color: var(--mainColor);
                            }
                        }
                        .dropdown-menu {
                            left: 50%;
                            transform: translateX(-50%);

                            li {
                                a {
                                    color: var(--blackColor);
                                    
                                    &:hover, &:focus {
                                        color: var(--mainColor);
                                    }
                                    &.active {
                                        color: var(--mainColor);
                                    }
                                }
                                .dropdown-menu {
                                    left: -100%;
                                    transform: unset;

                                    li {
                                        a {
                                            color: var(--blackColor);
                                            
                                            &:hover, &:focus {
                                                color: var(--mainColor);
                                            }
                                            &.active {
                                                color: var(--mainColor);
                                            }
                                        }
                                        .dropdown-menu {
                                            li {
                                                a {
                                                    color: var(--blackColor);
                                                    
                                                    &:hover, &:focus {
                                                        color: var(--mainColor);
                                                    }
                                                    &.active {
                                                        color: var(--mainColor);
                                                    }
                                                }
                                                .dropdown-menu {
                                                    li {
                                                        a {
                                                            color: var(--blackColor);
                                                            
                                                            &:hover, &:focus {
                                                                color: var(--mainColor);
                                                            }
                                                            &.active {
                                                                color: var(--mainColor);
                                                            }
                                                        }
                                                        &.active {
                                                            a {
                                                                color: var(--mainColor);
                                                            }
                                                        }
                                                    }
                                                }
                                                &.active {
                                                    a {
                                                        color: var(--mainColor);
                                                    }
                                                }
                                            }
                                        }
                                        &.active {
                                            a {
                                                color: var(--mainColor);
                                            }
                                        }
                                    }
                                }
                                &.active {
                                    a {
                                        color: var(--mainColor);
                                    }
                                }
                            }
                        }
                        &.megamenu {
                            .dropdown-menu {
                                left: 0;
                                transform: unset;

                                .megamenu-submenu {
                                    li {
                                        a {
                                            color: var(--blackColor);
                                            
                                            &:hover, &.active {
                                                color: var(--mainColor);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.is-sticky {
            position: fixed;
            background-color: var(--whiteColor) !important;
        }
    }
}
.texap-nav {
    .navbar {
        padding: 0;
        position: inherit;

        .navbar-brand {
            font-size: inherit;
            line-height: 1;
            padding: 0;
        }
        ul {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;
        }
        .navbar-nav {
            margin: {
                left: auto;
                right: auto;
            };
            .nav-item {
                position: relative;
                margin: {
                    left: 15px;
                    right: 15px;
                };
                a {
                    position: relative;
                    color: var(--whiteColor);
                    transition: var(--transition);
                    font: {
                        weight: 600;
                        size: 15.2px;
                    };
                    padding: {
                        left: 0;
                        right: 0;
                        top: 30px;
                        bottom: 30px;
                    };
                    &:hover, &.active {
                        color: var(--whiteColor);
                    }
                }
                .dropdown-toggle {
                    padding-right: 14px;

                    &::after {
                        display: none;
                    }
                    &::before {
                        position: absolute;
                        content: "\EA4E";
                        line-height: 1;
                        right: -2px;
                        top: 35px;
                        font: {
                            family: remixicon;
                            weight: 300;
                            size: 15px;
                        };
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
                &:first-child {
                    margin-left: 0;
                }
                &:hover, &.active {
                    a {
                        color: var(--whiteColor);
                    }
                }
                .dropdown-menu {
                    left: 0;
                    top: 82px;
                    opacity: 0;
                    z-index: 99;
                    border: none;
                    width: 250px;
                    margin-top: 0;
                    display: block;
                    padding: 10px 0;
                    border-radius: 0;
                    position: absolute;
                    visibility: hidden;
                    background: var(--whiteColor);
                    transition: all 0.2s ease-in-out;
                    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

                    li {
                        margin: 0;
                        
                        a {
                            display: block;
                            padding: 8px 20px;
                            position: relative;
                            color: var(--blackColor);
                            font: {
                                size: var(--fontSize);
                                weight: 600;
                            };
                            &:hover {
                                color: var(--mainColor);
                                padding-left: 25px;
                            }
                            &.active {
                                color: var(--mainColor);
                            }
                            &.dropdown-toggle {
                                &::before {
                                    top: 50%;
                                    right: 15px;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                        .dropdown-menu {
                            top: 0;
                            opacity: 0;
                            left: 100%;
                            margin-top: 0;
                            visibility: hidden;
                            
                            li {
                                a {
                                    color: var(--blackColor);
                                    padding-left: 20px;
                                    
                                    &:hover {
                                        color: var(--mainColor);
                                        padding-left: 25px;
                                    }
                                    &.active {
                                        color: var(--mainColor);
                                    }
                                }
                                .dropdown-menu {
                                    top: 0;
                                    opacity: 0;
                                    right: 100%;
                                    visibility: hidden;
        
                                    li {
                                        a {
                                            color: var(--blackColor);
                                            padding-left: 20px;
        
                                            &:hover {
                                                padding-left: 25px;
                                                color: var(--mainColor);
                                            }
                                            &.active {
                                                color: var(--mainColor);
                                            }
                                        }
                                        .dropdown-menu {
                                            top: 0;
                                            opacity: 0;
                                            right: 100%;
                                            visibility: hidden;
                
                                            li {
                                                a {
                                                    padding-left: 20px;
                                                    color: var(--blackColor);
                
                                                    &:hover {
                                                        color: var(--mainColor);
                                                        padding-left: 25px;
                                                    }
                                                    &.active {
                                                        color: var(--mainColor);
                                                    }
                                                }
                                                &.active {
                                                    a {
                                                        color: var(--mainColor);
                                                    }
                                                }
                                                &:hover {
                                                    .dropdown-menu {
                                                        opacity: 1;
                                                        visibility: visible;
                                                    }
                                                }
                                            }
                                        }
                                        &.active {
                                            a {
                                                color: var(--mainColor);
                                            }
                                        }
                                        &:hover {
                                            .dropdown-menu {
                                                opacity: 1;
                                                visibility: visible;
                                            }
                                        }
                                    }
                                }
                                &.active {
                                    a {
                                        color: var(--mainColor);
                                    }
                                }
                                &:hover {
                                    .dropdown-menu {
                                        opacity: 1;
                                        visibility: visible;
                                    }
                                }
                            }
                        }
                        &.active {
                            a {
                                color: var(--mainColor);
                            }
                        }
                        &:hover {
                            .dropdown-menu {
                                opacity: 1;
                                margin-top: 0;
                                visibility: visible;
                            }
                        }
                    }
                }
                &:hover {
                    .dropdown-menu {
                        opacity: 1;
                        visibility: visible;
                    }
                }
                &.megamenu {
                    position: inherit;

                    .container {
                        display: block;
                        flex-wrap: unset;
                        align-items: unset;
                        justify-content: unset;
                    }
                    .dropdown-menu {
                        left: 0;
                        top: auto;
                        width: 100%;
                        margin-top: 0;
                        padding: 30px 0;
                        position: absolute;
                        transform: unset !important;

                        .submenu-title {
                            font-size: 18px;
                            margin-bottom: 15px;
                            padding-bottom: 8px;
                            border-bottom: 1px solid #eeeeee;
                        }
                        .megamenu-submenu {
                            li {
                                a {
                                    padding: 0;
                                    margin-top: 15px;
                                    display: inline-block;
                                    color: var(--blackColor);
                                    font: {
                                        size: var(--fontSize);
                                        weight: 600;
                                    };
                                    &:hover, &.active {
                                        color: var(--mainColor);
                                    }
                                }
                                &:first-child {
                                    a {
                                        margin-top: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Navbar toggler */
.navbar-toggler {
    border: none;
	border-radius: 0;
	padding: 0;

    &:focus {
        outline: 0;
        box-shadow: none;
    }

    .icon-bar {
        width: 35px;
        transition: all 0.3s;
        background: #565656;
        height: 4px;
		display: block;
		border-radius: 3px;
    }
    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
        left: 4px;
        position: relative;
    }
    .middle-bar {
        opacity: 0;
        margin: 5px 0;
    }
    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
        left: 4px;
        position: relative;
    }
    &.collapsed {
        .top-bar {
            transform: rotate(0);      
            left: 0;
        }
        .middle-bar {
            opacity: 1;
        }
        .bottom-bar {
            transform: rotate(0);
            left: 0;
            margin-top: 6px;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .navbar-area {
        background-color: var(--blackColor) !important;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        padding: {
            top: 12px;
            bottom: 12px;
        };
        &.is-sticky {
            border-bottom: none;
            padding: {
                top: 12px;
                bottom: 12px;
            };
        }
        .container {
            position: relative;
        }

        .navbar {
            .navbar-nav {
                border-top: 1px solid #323746;
                margin-top: 15px;
                padding-top: 5px;
                overflow-y: auto;
                max-height: 60vh;
                padding-right: 15px;

                &::-webkit-scrollbar {
                    width: 12px;
                } 
                &::-webkit-scrollbar-track {
                    background: #fff; 
                } 
                &::-webkit-scrollbar-thumb {
                    background: var(--mainColor);
                } 
                &::-webkit-scrollbar-thumb:hover {
                    background: var(--mainColor);
                }

                .nav-item {
                    margin: 0;
                    a {
                        font-size: 15px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        &.dropdown-toggle {
                            &::before {
                                display: none;
                            }
                        }
                    }
                    .dropdown-menu {
                        position: relative;
                        visibility: visible;
                        opacity: 1;
                        top: 0;
                        width: 100%;
                        margin-bottom: 10px;

                        .nav-item {
                            .dropdown-menu {
                                left: 15px;
                                visibility: visible;
                                opacity: 1;
                                width: 92%;
                                margin-bottom: 0;
                            }
                        }
                    }

                    &.megamenu { 
                        .dropdown-menu {
                            left: 0;
                            top: 0;
                            margin-top: 0;
                            padding: 15px 0;
                            position: relative;
                            .col {
                                -webkit-box-flex: inherit;
                                -ms-flex: inherit;
                                flex: inherit;
                                margin-bottom: 20px;
                                padding: 5px 20px;

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                            .submenu-title {
                                font-size: 15px;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
            .others-options {
                position: absolute;
                right: 50px;
                top: 7px;

                .default-btn {
                    padding: 8px 20px;
                    font-size: 10px;
                }
            }
        }

        &.navbar-style-two {
            border-bottom-color: rgba(0, 0, 0, .04);
            background-color: #fff !important;

            .navbar {
                .navbar-nav {
                    border-top: 1px solid #f1f1f1;

                    &::-webkit-scrollbar-track {
                        background: #f1f1f1; 
                    } 

                    .nav-item {
                        .dropdown-menu {
                            border: 1px solid #f1f1f1;
                        }
                    }
                }
            }
            
            .navbar-toggler {
                .icon-bar {
                    background: #565656;
                }
            }
        }

        &.navbar-style-three {
            .texap-nav {
                .navbar {
                    .navbar-nav {
                        margin-right: 0;
                    }
                }
            }
        }

        &.navbar-style-four {
            border-bottom: none;
            background-color: #fff !important;

            .navbar {
                position: relative;

                .navbar-nav {
                    margin-right: 0 !important;
                    border-top: 1px solid #f1f1f1;

                    &::-webkit-scrollbar-track {
                        background: #f1f1f1; 
                    } 

                    .nav-item {
                        .dropdown-menu {
                            border: 1px solid #eee;
                        }
                    }
                }
            }

            .navbar-toggler {
                .icon-bar {
                    background: #353434;
                }
            }

            .container-fluid {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .navbar-area {
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        padding: {
            top: 15px;
            bottom: 15px;
        };
        &.is-sticky {
            padding: {
                top: 15px;
                bottom: 15px;
            };
        }
        &.navbar-style-two {
            border-bottom-color: rgba(0, 0, 0, .04);
        }
        &.navbar-style-three {
            .texap-nav {
                .navbar {
                    .navbar-nav {
                        margin-right: auto;
                    }
                }
            }
        }
        &.navbar-style-four {
            border-bottom: none;
        }
        .navbar {
            .navbar-nav {
                .nav-item {
                    margin-left: 8px;
                    margin-right: 8px;
                    a {
                        font-size: 14px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }

                    .dropdown-toggle {
                        &::before {
                            top: 15px;
                        }
                    }

                    .dropdown-menu {
                        top: 57px;
                        width: 230px;
                    }
                    &:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3) {
                        .dropdown-menu {
                           left: auto;
                           right: 0;
                        }
                    }

                    &.megamenu {
                        .dropdown-menu {
                            margin-top: 17px;
                        }
                    }
                }
            }
            .default-btn {
                font-size: 10px;
                padding: 8px 12px;
            }
        }
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .navbar-area {
        &.navbar-style-four {
            .container-fluid {
                padding: {
                    left: var(--bs-gutter-x,.75rem);
                    right: var(--bs-gutter-x,.75rem);
                };
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .navbar-area {
        &.navbar-style-four {
            .container-fluid {
                padding: {
                    left: 30px;
                    right: 30px;
                };
            }
        }
    }

}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {

    .navbar-area {
        &.navbar-style-four {
            .container-fluid {
                padding: {
                    left: 100px;
                    right: 100px;
                };
            }
        }
    }

}