/*================================================
Products Details Area CSS
=================================================*/
.products-details-image {
    padding-right: 15px;

    a {
        display: block;
    }
}
.products-details-desc {
    padding-left: 15px;

    h3 {
        margin-bottom: 15px;
        font-size: 20px;
    }
    .price {
        font-weight: 600;
        margin-bottom: 15px;
        color: var(--mainColor);

        .old-price {
            text-decoration: line-through;
            font-weight: normal;
            color: #828893;
        }
    }
    .products-review {
        margin-bottom: 15px;

        .rating {
            display: inline-block;
            padding-right: 5px;
            font-size: 16px;

            i {
                color: #ffba0a;
                margin-right: -1px;
                display: inline-block;
            }
        }
        .rating-count {
            border-bottom: 1px solid var(--blackColor);
            color: var(--blackColor);
            display: inline-block;
            line-height: initial;
            position: relative;
            font-weight: 600;
            top: -3px;

            &:hover {
                color: var(--mainColor);
                border-color: var(--mainColor);
            }
        }
    }
    .products-meta {
        margin-top: 20px;

        span {
            display: block;
            font-weight: 600;
            margin-bottom: 10px;
            color: var(--blackColor);

            span {
                display: inline-block;
                margin-bottom: 0;
                font-weight: 500;

                &.sku {
                    color: var(--mainColor);
                }
                &.in-stock {
                    color: var(--paragraphColor);
                }
            }
            a {
                color: var(--paragraphColor);
                display: inline-block;
                font-weight: 500;

                &:hover {
                    color: var(--mainColor);
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .products-add-to-cart {
        margin-top: 25px;

        .input-counter {
            max-width: 130px;
            min-width: 130px;
            margin-right: 10px;
            text-align: center;
            position: relative;
            display: inline-block;

            span {
                background-color: transparent;
                transition: var(--transition);
                position: absolute;
                line-height: 52px;
                color: #d0d0d0;
                cursor: pointer;
                font-size: 25px;
                height: 100%;
                width: 50px;
                top: 0;

                &.minus-btn {
                    left: 0;
                }
                &.plus-btn {
                    right: 0;
                }
                &:hover {
                    color: var(--mainColor);
                }
            }
            input {
                outline: 0;
                width: 100%;
                height: 50px;
                border: none;
                display: block;
                text-align: center;
                color: var(--blackColor);
                background-color: #f9f9f9;
                font: {
                    size: 17px;
                    weight: 500;
                };
                &::placeholder {
                    color: var(--blackColor);
                }
            }
        }
        .lc-default-btn {
            position: relative;
            top: -2px;
            padding: {
                top: 14px;
                bottom: 14px;
            };
        }
    }
    .products-share {
        margin-top: 25px;

        .social {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;

            li {
                display: inline-block;

                span {
                    display: inline-block;
                    position: relative;
                    margin-right: 3px;
                    font-weight: 600;
                    top: -3px;
                }
                a {
                    width: 35px;
                    height: 35px;
                    display: block;
                    font-size: 17px;
                    margin-left: 3px;
                    line-height: 34px;
                    border-radius: 50%;
                    text-align: center;
                    color: var(--whiteColor);
                    border: 1px solid var(--mainColor);
                    background-color: var(--mainColor);
    
                    &:hover {
                        color: var(--mainColor);
                        background-color: transparent;
                    }
                    &.facebook {
                        background-color: #3b5998;
                        border-color: #3b5998;

                        &:hover {
                            color: #3b5998;
                            background-color: transparent;
                        }
                    }
                    &.twitter {
                        background-color: #1da1f2;
                        border-color: #1da1f2;

                        &:hover {
                            color: #1da1f2;
                            background-color: transparent;
                        }
                    }
                    &.linkedin {
                        background-color: #007bb5;
                        border-color: #007bb5;

                        &:hover {
                            color: #007bb5;
                            background-color: transparent;
                        }
                    }
                    &.instagram {
                        background-color: #c13584;
                        border-color: #c13584;

                        &:hover {
                            color: #c13584;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}
.products-details-tabs {
    max-width: 800px;
    margin: {
        top: 50px;
        left: auto;
        right: auto;
    };
    .nav {
        list-style-type: none;
        margin-bottom: 40px;
        text-align: center;
        padding-left: 0;
        display: block;

        .nav-item {
            display: inline-block;
            margin: {
                left: 15px;
                right: 15px;
            };
            .nav-link {
                padding: 0;
                border: none;
                color: #cccccc;
                position: relative;
                padding-bottom: 8px;
                background-color: transparent;
                border-bottom: 1px solid #eeeeee;
                font: {
                    size: 18px;
                    weight: 600;
                };
                &::before {
                    left: 0;
                    width: 0;
                    content: '';
                    height: 3px;
                    bottom: -2px;
                    position: absolute;
                    transition: var(--transition);
                    background-color: var(--mainColor);
                }
                &:hover, &.active {
                    color: var(--blackColor);

                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }
    .tab-content {
        .tab-pane {
            ul {
                padding-left: 0;
                list-style-type: none;
                margin: {
                    top: 20px;
                    bottom: 0;
                };
                li {
                    margin-bottom: 12px;
                    position: relative;
                    padding-left: 15px;
                    color: #585d81;

                    &::before {
                        left: 0;
                        top: 8px;
                        width: 6px;
                        content: '';
                        height: 6px;
                        position: absolute;
                        border-radius: 50%;
                        background-color: var(--blackColor);
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .products-reviews {
                h3 {
                    font-size: 20px;
                    margin-bottom: 12px;
                }
                .rating {
                    span {
                        font-size: 17px;
                        color: #cecfd2;
                        margin-right: -2px;
        
                        &.checked {
                            color: orange;
                        }
                    }
                }
                .rating-count {
                    margin: {
                        top: 10px;
                        bottom: 20px;
                    };
                    span {
                        display: block;
                        font-size: var(--fontSize);
                        color: var(--paragraphColor);
                    }
                }
                .row {
                    overflow: hidden;
                }
                .side {
                    width: 9%;
                    float: left;
                    margin-top: 10px;
    
                    div {
                        font: {
                            size: var(--fontSize);
                            weight: 500;
                        };
                    }
                }
                .middle {
                    margin-top: 14px;
                    float: left;
                    width: 82%;
                }
                .right {
                    text-align: end;
                }
                .bar-container {
                    width: 100%;
                    text-align: center;
                    border-radius: 5px;
                    color: var(--whiteColor);
                    background-color: #f1f1f1;
                }
                .bar-5 {
                    width: 100%;
                    height: 18px;
                    border-radius: 5px;
                    background-color: #4CAF50;
                }
                .bar-4 {
                    width: 75%;
                    height: 18px;
                    border-radius: 5px;
                    border-radius: 5px;
                    background-color: #2196F3;
                }
                .bar-3 {
                    width: 50%;
                    height: 18px;
                    border-radius: 5px;
                    background-color: #00bcd4;
                }
                .bar-2 {
                    width: 25%;
                    height: 18px;
                    border-radius: 5px;
                    background-color: #ff9800;
                }
                .bar-1 {
                    width: 0;
                    height: 18px;
                    border-radius: 5px;
                    background-color: #f44336;
                }
            }
            .products-review-comments {
                margin-top: 40px;
            
                h3 {
                    border-bottom: 1px solid #fefefe;
                    padding-bottom: 12px;
                    margin-bottom: 8px;
                    font-size: 20px;
                }
                .user-review {
                    border-bottom: 1px solid #fefefe;
                    padding: 20px 0 20px 110px;
                    position: relative;
            
                    img {
                        left: 0;
                        top: 20px;
                        width: 90px;
                        height: 90px;
                        border-radius: 5px;
                        position: absolute;
                    }
                    .sub-comment {
                        margin-bottom: 8px;
                        font-weight: 700;
                    }
                    .review-rating {
                        display: block;
                        margin-bottom: 7px;
            
                        .review-stars {
                            display: inline-block;
            
                            i {
                                font-size: 17px;
                                color: #cecfd2;
                                margin-right: -2px;
                                display: inline-block;
                
                                &.checked {
                                    color: orange;
                                }
                            }
                        }
                    }
                }
            }
            .review-form-wrapper {
                margin-top: 30px;

                h3 {
                    margin-bottom: 10px;
                    font-size: 20px;
                }
                .comment-notes {
                    span {
                        color: red;
                    }
                }
                form {
                    margin-top: 20px;

                    .form-group {
                        margin-bottom: 25px;
                    }
                    .rating {
                        text-align: start;
                        overflow: hidden;
                        max-width: 115px;
                        margin: {
                            top: -5px;
                            bottom: 20px;
                        };
                        label {
                            width: 23px;
                            height: 23px;
                            float: right;
                            cursor: pointer;
                            position: relative;

                            &:not(:first-of-type) {
                                padding-right: 5px;
                            }
                            &:before {
                                transition: var(--transition);
                                content: "\2605";
                                color: #CCCCCC;
                                font-size: 25px;
                                line-height: 1;
                            }
                        }
                        input {
                            display: none;
                        }
                        input:checked ~ label:before, &:not(:checked) > label:hover:before, &:not(:checked) > label:hover ~ label:before {
                            color: #f6b500;
                        }
                    }
                    .comment-form-cookies-consent {
                        text-align: left;
                        margin-bottom: 0;
            
                        [type="checkbox"]:checked, [type="checkbox"]:not(:checked) {
                            display: none;
                        }
                        [type="checkbox"]:checked + label, [type="checkbox"]:not(:checked) + label {
                            cursor: pointer;
                            margin-bottom: 0;
                            line-height: 20px;
                            position: relative;
                            padding-left: 28px;
                            display: inline-block;
                            color: var(--paragraphColor);
                        }
                        [type="checkbox"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before {
                            top: 0;
                            left: 0;
                            content: '';
                            width: 19px;
                            height: 19px;
                            border-radius: 3px;
                            position: absolute;
                            background: #f5f5f5;
                            transition: all 0.2s ease;
                            border: 1px solid #f5f5f5;
                        }
                        [type="checkbox"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after {
                            left: 6px;
                            top: 5.5px;
                            width: 8px;
                            height: 8px;
                            content: '';
                            position: absolute;
                            transition: all 0.2s ease;
                            background: var(--mainColor);
                        }
                        [type="checkbox"]:not(:checked) + label:after {
                            opacity: 0;
                            transform: scale(0);
                        }
                        [type="checkbox"]:checked + label:after {
                            opacity: 1;
                            transform: scale(1);
                        }
                        [type="checkbox"]:hover + label:before {
                            border-color: var(--mainColor);
                        }
                        [type="checkbox"]:checked + label:before {
                            border-color: var(--mainColor);
                        }
                    }
                    button {
                        border: none;
                        overflow: hidden;
                        margin-top: 22px;
                        text-align: center;
                        display: inline-block;
                        color: var(--whiteColor);
                        background-color: var(--mainColor);
                        transition: var(--transition);
                        border-radius: 5px;
                        padding: 12px 40px;
                        font: {
                            weight: 600;
                            size: var(--fontSize);
                        };
                        &:hover {
                            background-color: var(--blackColor);
                            color: var(--whiteColor);
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .products-details-image {
        padding-right: 0;
        margin-bottom: 25px;
    }
    .products-details-desc {
        padding-left: 0;

        h3 {
            font-size: 16px;
        }
        .products-add-to-cart {
            .input-counter {
                max-width: 110px;
                min-width: 110px;

                input {
                    height: 40px;
                    font-size: 15px;
                }
                span {
                    line-height: 42px;
                    font-size: 20px;
                }
            }
        }
    }
    .products-details-tabs {
        max-width: 100%;
        margin-top: 30px;

        .nav {
            margin-bottom: 25px;

            .nav-item {
                margin: {
                    left: 10px;
                    right: 10px;
                };
                .nav-link {
                    font-size: 15px;
                }
            }
        }
        .tab-content {
            .tab-pane {
                .products-reviews {
                    h3 {
                        font-size: 16px;
                        margin-bottom: 12px;
                    }
                    .rating {
                        span {
                            font-size: 15px;
                            margin-right: 0;
                        }
                    }
                    .side {
                        width: 20%;
                    }
                    .middle {
                        width: 60%;
                    }
                }
                .products-review-comments {
                    h3 {
                        font-size: 16px;
                    }
                    .user-review {
                        padding-left: 0;

                        img {
                            top: 0;
                            left: 0;
                            position: relative;
                            margin-bottom: 15px;
                        }
                        .review-rating {
                            margin-bottom: 5px;
                        }
                    }
                }
                .review-form-wrapper {
                    h3 {
                        font-size: 16px;
                    }
                    from {
                        .form-group {
                            margin-bottom: 20px;
                        }
                        button {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .products-details-image {
        padding-right: 0;
        margin-bottom: 25px;
    }
    .products-details-desc {
        padding-left: 0;

        h3 {
            font-size: 18px;
        }
        .products-add-to-cart {
            .input-counter {
                input {
                    height: 43px;
                }
                span {
                    line-height: 45px;
                }
            }
        }
    }
    .products-details-tabs {
        max-width: 100%;
        
        .tab-content {
            .tab-pane {
                .products-reviews {
                    h3 {
                        font-size: 18px;
                    }
                }
                .products-review-comments {
                    h3 {
                        font-size: 18px;
                    }
                }
                .review-form-wrapper {
                    h3 {
                        font-size: 18px;
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .products-details-image {
        padding-right: 0;
    }
    .products-details-desc {
        padding-left: 0;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .products-details-image {
        padding-right: 0;
    }
    .products-details-desc {
        padding-left: 0;
    }

}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {

    

}