.form-control:focus {
    box-shadow: none;
    border-color: #2e9afe
}

.profile-button-disable {
    border-color: #2e9afe;
    background-color: #ffffff;
    color: #2e9afe;
    padding-left: 60px;
    padding-right: 60px;
}

.profile-button-disable:hover {
    border-color: #2e9afe;
    background-color: #ffffff;
    color: #2e9afe;
    padding-left: 60px;
    padding-right: 60px;
}


.profile-button {
    background: #2e9afe;
    box-shadow: none;
    padding-left: 60px;
    padding-right: 60px;
    border: none
}

.profile-button:hover {
    background: #2e9afe
}

.profile-button:focus {
    background: #2e9afe;
    box-shadow: none
}

.profile-button:active {
    background: #2e9afe;
    box-shadow: none
}

.profile-button:disabled {
    background: #aaaaaa;
    color: white;
    font-weight: bold;
    box-shadow: none
}

.back:hover {
    color: #2e9afe;
    cursor: pointer
}

.labels {
}

.add-experience:hover {
    background: #2e9afe;
    color: #fff;
    cursor: pointer;
    border: solid 1px #2e9afe
}

.text-validator{
    font-size: 14;
    margin-left: 8;
    margin-top: 4;
    color: red;
}

.scaptcha-anchor-container {
    display: flex;
    align-items: center;
    justify-content: left;
    box-shadow: 0px 0px 0px 0px #ffffff !important;
    border: 0px solid #ffffff !important;
    background-color: #ffffff !important;
    width: 300px !important;
    height: 50px;
    padding: 13px;
    max-width: 400px;
}



.apk-button {
    background: #91e902;
    box-shadow: none;
    color: black;
    padding-left: 60px;
    padding-right: 60px;
    border: none
}

.apk-button:hover {
    background: #91e902;
    color: black;
}

.apk-button:focus {
    background: #91e902;
    box-shadow: none;
    color: black;
}

.apk-button:active {
    background: #91e902;
    box-shadow: none;
    color: black;
}



.aab-button {
    background: #fddd11;
    box-shadow: none;
    color: black;
    padding-left: 60px;
    padding-right: 60px;
    border: none
}

.aab-button:hover {
    background: #fddd11;
    color: black;
}

.aab-button:focus {
    background: #fddd11;
    box-shadow: none;
    color: black;
}

.aab-button:active {
    background: #fddd11;
    box-shadow: none;
    color: black;
}

.pagination-button {
    background: #2e9afe;
    margin-right: 3px;
    margin-left: 3px;
    box-shadow: none;
    border: none
}

.pagination-button:hover {
    background: #2e9afe
}

.pagination-button:focus {
    background: #2e9afe;
    box-shadow: none
}

.pagination-button:active {
    background: #2e9afe;
    box-shadow: none
}

.pagination-button:disabled {
    background: #aaaaaa;
    box-shadow: none
}

@media only screen and (max-width: 767px) {



.apk-button {
    background: #91e902;
    box-shadow: none;
    color: black;
    padding-left: 10px;
    width: 143px;
    padding-right: 10px;
    border: none
}

.aab-button {
    background: #fddd11;
    box-shadow: none;
    color: black;
    padding-left: 10px;
    width: 143px;
    padding-right: 10px;
    border: none
}

.ios-button {
    background: #2e9afe;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    width: 143px;
}

    .profile-button-disable {
        border-color: #2e9afe;
        background-color: #ffffff;
        color: #2e9afe;
        padding-left: 10px;
        padding-right: 10px;
    }
    .profile-button-disable:hover {
        border-color: #2e9afe;
        background-color: #ffffff;
        color: #2e9afe;
        padding-left: 10px;
        padding-right: 10px;
    }
    .profile-button {
        background: #2e9afe;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding-left: 10px;
        padding-right: 10px;
        border: none;
    }
    .profile-button:disabled {
        background: #aaaaaa;
        color: white;
        font-weight: bold;
        box-shadow: none
    }
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .profile-button-disable {
        border-color: #2e9afe;
        background-color: #ffffff;
        color: #2e9afe;
        padding-left: 10px;
        padding-right: 10px;
    }
    .profile-button-disable:hover {
        border-color: #2e9afe;
        background-color: #ffffff;
        color: #2e9afe;
        padding-left: 10px;
        padding-right: 10px;
    }
    .profile-button {
        background: #2e9afe;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding-left: 10px;
        padding-right: 10px;
        border: none;
    }
    .profile-button:disabled {
        background: #aaaaaa;
        color: white;
        font-weight: bold;
        box-shadow: none
    }
  }